<head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.dlmenu.js"></script>
    <script src="{{ site.baseurl }}/js/modernizr.custom.js"></script>
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ site.baseurl }}/css/fresh-bootstrap-table.css" rel="stylesheet" />
    <link href="{{ site.baseurl }}/css/syntax.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ED8254">
    <meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
    <meta name="description" content="Singularity HPC Registry using LMOD">
    <meta name="thumbnail" content="https://singularityhub.github.io{{ site.baseurl }}/img/logo.png">
    {% if page.name %}<meta name="name" content="{{ page.name }}">{% endif %}
    {% if page.github %}<meta name="repository" content="{{ page.github }}">
    <meta name="pagetype" content="experiment">{% endif %}
</head>
